* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

@font-face {
  font-family: "norse";
  src: url("./Norse-Bold.otf") format("woff");
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
}

.odin-logo {
  max-width: 5rem;
}

.hero {
  width: 40vw;
  max-width: 65vh;
  background-image: url("leaves.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "norse", Courier, monospace;
  color: white;
  font-weight: normal;
  margin-top: 18vh;
  padding: 0.5rem 0;
  display: flex;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.img-credit {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  margin-top: auto;
  padding-bottom: 1rem;
}

.form-container {
  display: flex;
  flex: auto;
  max-width: 650px;
  flex-direction: column;
}

.form-header-wrapper {
  width: 60vw;
  flex: 2 0 0;
  background-color: rgba(249, 250, 251);
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  width: 60vw;
  flex: 1;
  background-color: white;
  filter: drop-shadow(5px 10px 10px lightgray);
}

.form-submit-wrapper {
  width: 60vw;
  flex: 3;
  background-color: rgba(249, 250, 251);
}

.form-header {
  max-width: 750px;
  padding-left: 3rem;
  padding-right: 1rem;
  margin-top: auto;
  margin-bottom: 3rem;
}

.form {
  max-width: 650px;
  padding-left: 3rem;
  padding-top: 1rem;
}

.form label {
  display: grid;
}

.form-submit {
  padding-top: 3rem;
  padding-left: 3rem;
  max-width: 650px;
}

.form-submit a {
  text-decoration: none;
  color: #596d48;
  font-weight: 600;
}

.form-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}

.form-input-container div {
  margin: 1rem 1rem 1rem 0;
}

.form-input-container div label {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.form-input-container div input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  width: 15rem;
  padding: 0.3rem;
  margin-top: 2px;
}

.form-input-container div input:focus {
  filter: drop-shadow(1px 3px 3px lightgray);
  border: 0.5px solid blue;
  outline: none;
}

.form-input-container div .error {
  outline: none;
  border: 1px solid darkred;
}

.error-msg {
  color: darkred;
  font-size: 0.8rem;
}

.submit-btn {
  background-color: #596d48;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(1px 3px 3px lightgray);
  margin-bottom: 2rem;
}

/* .main-container div {
  border: 1px solid black;
} */
